body {
    font-size: 1.2em;
    font-weight: bold;
}

nav {
    margin: 10px;
}

a { 
    color: inherit;
    text-decoration: none;
}

ul, li {
    list-style: none;
    padding: 0px;
    margin : 0px;
}

.menu_item {
    display : block;
    text-align: center;
}

.menu_item > ul { 
    display : inline-block;
    text-align: center;
    background: gray;
    padding: 0 10px;
    border-radius: 5px;
}

.menu_item > ul > li {
    display: inline-block;
}

.menu_item > ul > li > a{
    padding: 10px 5px;
    display: block;
}

.menu_item > ul > li > a:hover{
    color: white;
    background-color: black;
}
