@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

body, ul, li{
    list-style:none;
    padding: 0;
    margin: 0;
}

a{
    color:inherit;
    text-decoration:inherit;
}

.con {
    margin:0 auto;
}

.row::after{
    content:"";
    display:block;
    clear:both;
}

.cell{
    float:left;
    box-sizing:border-box;
}

.cell-right{
    float:right;
}

/*Header*/

.header{
    position:relative;
    height: 180px;
}

/*top-banner-box*/
.top-banner-box{
    background-color:black;
}

.top-banner-box > .top-banner-box-menu-list{
    margin-right: 20px;
}

.top-banner-box > .top-banner-box-menu-list > .top-banner-box-menu > a{
    display:block;
    padding: 5px;
    color: white;
    font-size: 0.8rem;
    margin: 0 5px;
}

.top-banner-box > .top-banner-box-menu-list > .My-shop > a::after{
    content: "♥";
    color: red;
}



/*top-area-board*/
.top-area-board{
    position: relative;
    display: block;
    height: 150px;
}


/*search-box*/
.search-box{
    position: absolute;
    display: inline-block;
    background-color: red;
    right: 10%;
    top:50%;
    
}

.search-box > input{
    padding: 10px 20px;
    border:1px solid #dfdfdf;
    outline:0;
    padding:10px;
    padding-right:35px;
}

.search-box > input:focus{
    border-color: black;
}

.search-box > i{
    position: absolute;
    top: 50%;
    right: 0;
    margin-right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
}



/*top-area*/



/*title*/

.top-area > .title{
    position:absolute;
    transform: translatex(-50%);
    text-align:center;
    margin-top: 20px;
    user-select: none;
    left: 50%;
}

.top-area > .title h1{
    margin:0;
    padding: 0;
}
.top-area > .title h2{
    margin:0;
    padding: 0;
    font-weight:normal;
    letter-spacing: 5px;
    font-size: 0.9rem;
    margin-bottom: 10px;
}
.top-area > .title h3{
    margin: 0;
    padding: 0;
}
.top-area > .title h3 > p{
    margin:0;
    padding: 0;
    font-weight: normal;
    font-size: 0.8rem;
    line-height: 1rem;
}
/*top-board*/
.top-board{
    position: absolute;
    left: 5%;
    margin-top:100px;
}

.top-board > .top-board-menu-list > .top-board-menu:hover > a{
    color: rgba(1,1,1,1);
}

.top-board > .top-board-menu-list > .top-board-menu > a{
    display: block;
    padding: 5px;
    margin:0 3px;
    font-size: 0.9rem;
    color: rgba(1,1,1,0.6);
    font-weight: bold;
}

.top-board > .top-board-menu-list > .top-board-menu{
    position:relative;
    text-align:center;
}

.top-board > .top-board-menu-list > .top-board-menu::after{
    content: "";
    display: block;
    position: absolute;
    height: 30%;
    width: 3px;
    background-color: rgba(1,1,1,0.5);
    top: 50%;
    transform: translateY(-50%) translate(-50%);
}

.top-board > .top-board-menu-list > .top-board-menu:first-child::after{
    display:none;
}

/*Body*/
.body {
    position: relative;
    border-top: solid 3px black;
}

/*menu-bar*/
.body > .menu-bar{
    text-align:center;
}

/*menu-list*/
.body > .menu-bar > .menu-list {
    display: inline-block;
    text-align:center;
}

.body > .menu-bar > .menu-list > .menu{
    position: relative;
}

.body > .menu-bar > .menu-list > .menu > a{
    display: block;
    padding: 10px;
    font-weight: 500;
    letter-spacing: -1px;
}

.body > .menu-bar > .menu-list > .menu:hover{
    background-color:black;
    color: white;
}

/*menu-list 2*/
.body > .menu-bar .menu:hover > .menu-list2{
    display: block;
    background-color: white;
}

.body > .menu-bar .menu-list2{
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: solid black 2px;
}

.body > .menu-bar .menu-list2 > .menu2{
    border-color: rgba(0,0,0,0.6);
    border-width: 0.05rem;
    padding: 5px 15px;
    border-style: solid;
    white-space:nowrap;
    color: black;
}

.body > .menu-bar .menu-list2 > .menu2:hover{
    color: white;
    background-color: black;
}

.body > .top-banner {
    display: block;
    height: 500px;
}


.body > .top-banner > .cell:not(:first-child) {
    margin-left:12px;
}

.body > .top-banner  .cell{
    height: 100%;
    border: solid 1px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.body > .top-banner > .cell:first-child {
    width:221px;
    border: none;
}

.body > .top-banner > .cell:first-child > .cell2:first-child{
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.body > .top-banner > .cell:first-child > .cell2:first-child img{
    display: block;
    width: 100%;
}

.body > .top-banner > .cell:first-child > .cell2:nth-child(2) {
    margin-top: 10%;
}

.body > .top-banner > .cell:nth-child(2) {
    width:595px;
}

.body > .top-banner > .cell:nth-child(3) {
    width:310px;
}



/*Custom*/
.con{
    width: 1150px;
}

.con-min-width{
    min-width:1150px;
}


