
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
    font-family: "Noto Sans KR", sans-serif;
}

html, body{
    overflow-x: hidden;
}

body, ul, li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.con{
    margin-left: auto;
    margin-right: auto;
}

.img-box > img{
    width: 100%;
    display: block;
}

.top-banner{
    margin-top: 20px;
    margin-bottom: 20px;
}

.list-box > .row{
    margin: 0 -10px;
}

.list-box > .row::after{
    clear:both;
    display:block;
    content: "";
}

.list-box .cell{
    padding: 0 10px;
    width: 16.66%;
    margin-top: 10px;
    float:left;
    box-sizing:border-box;
    cursor: pointer;
}

.list-box .product-name, .list-box .product-price{
    text-align:center;
}

.list-box .product-name{
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
}

.list-box .product-price{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
}

.list-box .product-price::after{
    content:"원";
    font-size: 0.8rem;
}

.list-box .cell:hover > .product-name{
    text-decoration: underline;
}

.list-box .cell > .img-box {
    overflow: hidden;
}

.list-box .cell > .img-box > img{
    transition: transform 3s;
}

.list-box .cell:hover > .img-box > img{
    transform:scale(1.25);
}

/*Custom*/

.list-box .cell > .delivery-free {
    text-align:center;
    margin-top:10px;
    border:2px solid #a6cae7;
    padding:0 5px;
}

.list-box .cell > .delivery-free::after {
    content:"무료배송";
    color:#439de6;
    font-size:0.8rem;
}


.con {
    max-width: 1000px;
}




@media ( min-width:931px ) {
    .list-box .cell {
        width:calc(100% / 6);
    }

    .list-box .cell:nth-child(6n + 1) {
        clear:both;
    }
}

@media ( max-width:930px ) and ( min-width:801px ) {
    .list-box .cell {
        width:20%;
    }
    
    .list-box .cell:nth-child(5n + 1) {
        clear:both;
    }
}

@media ( max-width:800px ) and ( min-width:651px ) {
    .list-box .cell {
        width:25%;
    }
    
    .list-box .cell:nth-child(4n + 1) {
        clear:both;
    }
}

@media ( max-width:650px ) and ( min-width:551px ) {
    .list-box .cell {
        width:33.3333%;
    }
    
    .list-box .cell:nth-child(3n + 1) {
        clear:both;
    }
}

@media ( max-width:550px ) and ( min-width:401px ) {
    .list-box .cell {
        width:50%;
    }
    
    .list-box .cell:nth-child(2n + 1) {
        clear:both;
    }
}

@media ( max-width:400px ) {
    .list-box .cell {
        width:100%;
    }
}
